{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="jumbotron jumbotron-custom col-md-12">
    <h1 class='col-md-12'>Welcome to Coffee lovers Social!</h1>
    <hr>
    <div class='row'>
      <img class='index-image col-md-8' src="{% static "socialforum/pics/nathan-dumlao-KixfBEdyp64-unsplash.jpg" %}" alt="Image missing">
      <div class="col-md-4">
        <h3>Social forum template</h3>
        <br>
        <p style='font-size: 1.1em;'>Coffee lovers social forum template prepared using <b>python+django, css and html</b>.
          This is learning project focused on <b>backend with CBV and class models</b>.</p>
      </div>
    </div>
    <hr>
  </div>
</div>




{% endblock %}
