<div class="post media">
  {% if truncate_message == True %}
  <div class="col-md-8">
    <h5>{{post.message|linebreaks|safe|truncatechars:400}}</h5>
    <a class='username-text' href="{% url 'posts:single' username=post.user.username pk=post.pk %}">View more...</a>
  </div>
  {% else %}
    <h5 class='col-md-8'>{{post.message|linebreaks|safe}}</h5>
  {% endif %}

  {% if hide_delete != True %}
  <div class="media-body">
    <h5 class='media-heading'>
    <span class='username'>
      <a class='username-text' href="{% url 'posts:for_user' username=post.user.username %}">@{{post.user.username}}</a>
    </span>
    <time class='time'>
      <a class='username-text' href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{post.created_at}}</a>
    </time>
    </h5>

    <div class="media-footer">
      {% if user.is_authenticated and post.user == user %}
        <a href="{% url 'posts:delete' pk=post.pk %}" title='delete' class='btn btn-dark'>
          <span class='fa fa-remove' aria-hidden='true'></span>
          <span class='icon-label'>Delete</span>
        </a>
      {% endif %}

    </div>

  </div>
  {% endif %}
</div>
